.row {
    padding: 10px;
  }
  
  .adminGear {
    position: absolute;
    top: 3px;
    right: 3px;
  }
  
  .pane {
    position: absolute;
    left: 700px;
    width: 300px;
    margin: 0px auto;
    padding: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }